.container {
  background-color: #b9b9b9;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  max-width: 1700px;
}
.footer {
  grid-column: 1 / -1;
  padding: 15px;
}
